<!-- Questions section -->
<div class="card border-warning mb-2 mt-2">
	<h5 class="card-header" id="question">Questions here? <span class="badge badge-warning">20 Seconds</span></h5>
	<div class="card-body">
		<ul class="list-group">
			<li class="list-group-item question" id="choice1">Answer Choice</li>
			<li class="list-group-item question" id="choice2">Answer Choice</li>
			<li class="list-group-item question" id="choice3">Answer Choice</li>
			<li class="list-group-item question" id="choice4">Answer Choice</li>
		</ul>
	</div>
</div>